#chehha
[cs]
+ch=#
+Ch=%
a: a A á Á
b: b B
c: c C
cx: \u010d \u010c 
d: d D \u010f \u010e
e: e E é É \u011b \u011a
f: f F
g: g G
h: h H
ch: # %
i: i I í Í
j: j J
k: k K
l: l L
m: m M
n: n N \u0148 \u0147
o: o O
p: p P
q: q Q
r: r R
rx: \u0159 \u0158
s: s S
sx: \u0161 \u0160
t: t T \u0165 \u0164
u: u U ú Ú \u016f \u016e
v: v V
w: w W
x: x X
y: y Y ý Ý
z: z Z
zx: \u017e \u017d