#Esperanto
[eox]
st: *
nul: 0
unu: 1
du: 2
tri: 3
kvar: 4
kvin: 5
ses: 6
sep: 7
ok: 8
nau: 9
a: a A
b: b B
c: c C 
cx: \u0109 \u0108
d: d D
e: e E 
f: f F
g: g G
gx: \u011d \u011c
h: h H
hx: \u0125 \u0124
i: i I
j: j J
jx: \u0135 \u0134
k: k K
l: l L
m: m M
n: n N
o: o O
p: p P
r: r R
s: s S
sx: \u015d \u015c
t: t T
u: u U
ux: \u016d \u016c
v: v V
w: w W
x: x X
y: y Y
z: z Z