#litova
[lt]
a: a A \u0105
b: b B
c: c C \u010d
d: d D
e: e E \u0119 \u0117
f: f F
g: g G
h: h H
i: i I \u012f
y: y Y
j: j J
k: k K
l: l L
m: m M
n: n N
o: o O
p: p P
q: q Q
r: r R
s: s S \u0161
t: t T
u: u U \u0173 \u016b
v: v V
w: w W
x: x X
z: z Z \u017e

