#portugala
[pt]
a: a A á Á à À â Â ã Ã
b: b B
c: c C ç Ç
d: d D
e: e E é É ê Ê
f: f F
g: g G
h: h H
i: i I í Í
j: j J
k: k K
l: l L
m: m M
n: n N
o: o O ó Ó ô Ô õ Õ
p: p P
q: q Q
r: r R
s: s S
t: t T
u: u U ú Ú ü
v: v V
w: w W
x: x X
y: y Y
z: z Z

