BODY {background: E0FFE0; font-size: medium;
	font-family: Times SudEuro, Helvetica, Times}
H1 {font-size: large; color: darkgreen}
/*H2 {color: darkgreen}*/
A {text-decoration: none}
A:link {color: blue}
A:visited {color: blue}
 